.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features-list {
  display: block;
}

@media screen and (min-width: 768px), (min-width: 1200px) {
  .features-list {
    display: flex;
  }
}

.features-list__item {
  max-width: 450px;
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .features-list__item {
    max-width: 354px;
  }
  .features-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .features-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }

  .features-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }

  .features-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .features-list__item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list__photo {
  display: flex;
  max-width: 450px;
  height: 120px;
  background-color: var(--portfolio-button-background);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__photo {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__photo {
    width: 270px;
  }
}

.features-list__title {
  color: var(--general-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px), (min-width: 1200px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
