.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  & .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-address {
  &__text {
    color: var(--hero-addres-button-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-bottom: 9px;
  }

  &__item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-colour);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.footer-join {
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-addres-button-text-color);
    margin-bottom: 20px;
    margin-left: 70px;
  }

  &__list {
    display: flex;
    margin-left: 70px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    fill: var(--hero-addres-button-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent-colour);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
