:root {
  --general-text-color: #212121;
  --accent-colour: #2196f3;
  --hero-addres-button-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --footer-auth-text-color: rgba(255, 255, 255, 0.6);
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --portfolio-button-background: #f5f4fa;
  --header-logo-color: #000000;
}
